In [1]:
import os

### 파이썬에서 파일을 로드하는 방법
#### 1. 파이썬 내장 모듈
####  2. numpy
#### 3. pandas

### 1.파이썬 내장 모듈
- open
    - open(path,mode,encoding,newline)
    - 모드를 설정해주어야한다
        - 'r' 읽기
        - 'w' 쓰기
        - 'a' 수정
    - with 구문 쓰기 않으면 반드시 close 해준다

**파일 쓰기**

In [35]:
# 내장 모듈로 파일 쓰는범 => open(path,mode,encoding,newline)
# newline 밑에가서 다시 자세하게 다루자
file = open('Test_folder/test.txt',mode='w')
file.write('1번째 줄입니다\n')
file.close()

In [36]:
# 위에 작업한 파일에 덧붙여서 작업하기 때문에 모드를 'a'로 한다
# 만약 'w'로 했으면 다 날라간다
file = open('Test_folder/test.txt','a')
for i in range(2,11):
    file.write('{}번째 줄입니다\n'.format(i))
    
file.close()

**파일 읽기**
- file.read()
    - 전체를 다 문자열로 읽는다
- file.readline()
    - 한줄을 문자열로 읽어드림
- file.readlines()
    - 라인별로 리스트형태로 가져온다

In [37]:
# read
# 전체를 한번에 읽는다
file = open('Test_folder/test.txt',mode='r') # default mode는 'r'이다
display(file.read())
file.close()

'1번째 줄입니다\n2번째 줄입니다\n3번째 줄입니다\n4번째 줄입니다\n5번째 줄입니다\n6번째 줄입니다\n7번째 줄입니다\n8번째 줄입니다\n9번째 줄입니다\n10번째 줄입니다\n'

In [41]:
# read(int)
# 지정된 정수번째 까지 읽는다
file = open('Test_folder/test.txt',mode='r') # default mode는 'r'이다
display(file.read(10))
file.close()

'1번째 줄입니다\n2'

In [40]:
# readline()
# 한줄씩 읽는다
file = open('Test_folder/test.txt',mode='r') # default mode는 'r'이다
display(file.readline())
display(file.readline())
file.close()

'1번째 줄입니다\n'

'2번째 줄입니다\n'

In [39]:
# realines
# 각 줄으 리스트로
file = open('Test_folder/test.txt',mode='r') # default mode는 'r'이다
display(file.readlines())
file.close()

['1번째 줄입니다\n',
 '2번째 줄입니다\n',
 '3번째 줄입니다\n',
 '4번째 줄입니다\n',
 '5번째 줄입니다\n',
 '6번째 줄입니다\n',
 '7번째 줄입니다\n',
 '8번째 줄입니다\n',
 '9번째 줄입니다\n',
 '10번째 줄입니다\n']

**Buffer**
- 자바 에서 겁나 했었다

In [49]:
file = open('Test_folder/test.txt','r')
file.readline()
file.close() ## 이걸 언제까지 하고 있을거냐

In [51]:
file = open('Test_folder/test.txt','r')
for line in file:
    print(line)
file.close()

1번째 줄입니다

2번째 줄입니다

3번째 줄입니다

4번째 줄입니다

5번째 줄입니다

6번째 줄입니다

7번째 줄입니다

8번째 줄입니다

9번째 줄입니다

10번째 줄입니다

In [52]:
# BUffer이기 때문에 호출해서 몇줄 혹은 몇글자는 그냥 버릴수 잇다
file = open('Test_folder/test.txt',mode='r')
file.readline()
file.read(5)
for line in file:
    print(line)
file.close()

입니다

3번째 줄입니다

4번째 줄입니다

5번째 줄입니다

6번째 줄입니다

7번째 줄입니다

8번째 줄입니다

9번째 줄입니다

10번째 줄입니다

**with문**

매번 file clos해주기 귀찮으니깐 with문으로 처리해버리자

In [53]:
with open('Test_folder/test.txt',mode='r') as f:
    for line in f:
        print(line)

1번째 줄입니다

2번째 줄입니다

3번째 줄입니다

4번째 줄입니다

5번째 줄입니다

6번째 줄입니다

7번째 줄입니다

8번째 줄입니다

9번째 줄입니다

10번째 줄입니다

#### newline
- default = None 
- 파일 읽을때
    - None 일때 : ('\n','\r','\r\n') 싹다 -> '\n'로 변환됩니다
    - ''일때 : 모두 '\n'로 인식 근데 변환되어 문자열로 주지는 않는다
    - '\n', '\r\n' 또는 '\r' 일때 : 주어진 문자만을 개행문자로 인식 ( readlines()해서 리스트를 보면 어떤식으로 개행문자 인식했는지 알수 있음 ) 
    
- 파일 쓸때
    - None일때 : 모든 '\n'이 os.linesep 로 변경됨 (맥에서는 '\n'이 기본 linesep이기 때문에 변화 없음)
    - '' 또는 '\n'일때 아무 변화 없음
    - '\r' 또는 '\r\n' 으로 설정시 : '\n'을 해당 문자열로 바꿔서 write한다

#### 윈도우에서느 newline = '' 추가해줘야지 쓸데없는 개행 방지
    - 윈도우의 os.linesep 는 '\r\n'이다
    - 파일을 default값인 newline = None으로 열개되면 파일을 쓸때 '\n'을 다시 '\r\n'으로 변경하여 '\r\r\n'이되면서 개행을 두번하게 된다
    - 맥에서는 상관없다

In [32]:
# testText_rn에 \r\n 과 \r 이용해서 테스트 만들어봤다
# 아래 open 을 통해 newline 어케 적용되는지 보기 위함
file = open('testText_rn.txt','w',newline='') # '' 또는 '\n' 알때 아무일도 일어나지 않음
file.write('안녕하세요 \r\n')
file.write('!')
file.write(' 파이썬 파일 쓰기 방법에 대해 배우고있습니다\r')
file.close()

# open 할때 그냥 싹다 \n으로 인식 => 출력하는데 문제 없음
# 근데 실제 파일이 변환되지는 않을거다
file = open('testText_rn.txt',mode='r',newline='')  #  \r \r\n \n 모두 => \n으로 인식한다(리스트 보면 그 기준으로 끊겨있다). 근데 \n으로 바꿔서 돌려주진 않음
display(file.readlines())
file.close()

file = open('testText_rn.txt',mode='r',newline=None)  
display(file.readlines()) # \r \r\n \n 모두 => \n으로 인식하고 \n으로 바꿔서 문자열 받는다
file.close()

file = open('testText_rn.txt',mode='r',newline='\r')  # 주어진 newline 만을 개행문자로 인식한다 (\r\n이 불리되서 다른 리스트에 들어가있다)
display(file.readlines())
file.close()

['안녕하세요 \r\n', '! 파이썬 파일 쓰기 방법에 대해 배우고있습니다\r']

['안녕하세요 \n', '! 파이썬 파일 쓰기 방법에 대해 배우고있습니다\n']

['안녕하세요 \r', '\n! 파이썬 파일 쓰기 방법에 대해 배우고있습니다\r']

In [33]:
# 맥에서는 write해도 None할때 아무 변화 없다
# 추가로 '' '\n'해도 원래 아무 변화 없다
# '\r' '\rn'으로 설정하면 '\n'이 해당 문자로 바뀌고 써진다
file = open('testText.txt','w',newline='\r\n') 
file.write('안녕하세요 \r\n') # \r\r\n이 되어비럴거다
file.write('!')
file.write(' 파이썬 파일 쓰기 방법에 대해 배우고있습니다\r') # 그대로겠다
file.close()

file = open('testText.txt',mode='r',newline='')  #  \r \r\n \n 모두 => \n으로 인식한다(리스트 보면 그 기준으로 끊겨있다). 근데 \n으로 바꿔서 돌려주진 않음
display(file.readlines())
file.close()

['안녕하세요 \r', '\r\n', '! 파이썬 파일 쓰기 방법에 대해 배우고있습니다\r']

#### csv
- 파일쓰기
    - file = open(mode='w')
    - writer = csv.wirter(file)
    - writer.writerow(list형식)
- 파일읽기
    - file = open(mode='r')
    - reader = csv.reader(file)
    - for line in reader: => line은 리스트형식으로 값을 받아온다
    
- csv.write 혹은 csv.reader 에 delimeter 혹은 quotes옵션 줄 수 있다

In [43]:
import csv

In [44]:
# writerow
# 리스트로 한줄씩 집어넣는다
file = open('Test_folder/testCsv.csv','w')
csvWriter = csv.writer(file)
csvWriter.writerow([1, "김정수", False])
csvWriter.writerow([2, "박상미", True])
file.close()

In [56]:
file = open('Test_folder/testCsv.csv',mode='r')
reader = csv.reader(file)
for line in reader:
    print(line)

['1', '김정수', 'False']
['2', '박상미', 'True']

In [59]:
# header 를 쓰고 싶다 => 그냥 한줄 더 쓰는거다
file = open('Test_folder/testCsv.csv','w')
csvWriter = csv.writer(file)
csvWriter.writerow(['id', "name", 'Bool'])
csvWriter.writerow([1, "김정수", False])
csvWriter.writerow([2, "박상미", True])
file.close()

In [62]:
# header pass하고 읽기
file = open('Test_folder/testCsv.csv',mode='r')
reader = csv.reader(file)
next(reader)
for line in reader:
    print(line)

['1', '김정수', 'False']
['2', '박상미', 'True']

In [69]:
# write delimeter 
file = open('Test_folder/testCsv.csv','w')
csvWriter = csv.writer(file,delimiter=':')
csvWriter.writerow(['id', "name", 'Bool'])
csvWriter.writerow([1, "김정수", False])
csvWriter.writerow([2, "박상미", True])
file.close()


file = open('Test_folder/testCsv.csv',mode='r')
reader = csv.reader(file,delimiter=':')
next(reader)
for line in reader:
    print(line)

['1', '김정수', 'False']
['2', '박상미', 'True']

### 2. numpy
- loadtxt
- 2차원 array형식으로 데이터를 불러온다
- 하나의 타입밖에 설정 못한다 주의해야한다 => dtype 설정 가능

In [71]:
import numpy as np

In [72]:
np.loadtxt('Data/ratings.dat' , delimiter = "::", dtype=np.int64)

array([[        1,      1193,         5, 978300760],
       [        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       ...,
       [     6040,       562,         5, 956704746],
       [     6040,      1096,         4, 956715648],
       [     6040,      1097,         4, 956715569]])

### 3. pandas
- pd.read_csv()
- 옵션들
    - header   # default ='infer'
    - index_col
    - skiprows
    - delimiter quotechar
    - infer_datetime_format # default = False

In [84]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [76]:
# header에 bool값 아니다 -> 에러난다
# row specify 해주자
pd.read_csv('Data/read_csv_sample.csv',header=0)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [82]:
pd.read_csv('Data/read_csv_sample.csv',header=None)

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [85]:
pd.read_csv('Data/read_csv_sample.csv',header=0,index_col=0)
pd.read_csv('Data/read_csv_sample.csv',header=0,index_col=['c0']) # 동일하다

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [86]:
# skip rows
pd.read_csv('Data/read_csv_sample.csv',skiprows=2) # header 있다고 inferred 됬다
pd.read_csv('Data/read_csv_sample.csv',skiprows=2,header=None)

   1  2  5  8
0  2  3  6  9

   0  1  2  3
0  1  2  5  8
1  2  3  6  9

### 인코딩 문제
- 맥에서 텍스트 편집기 엑셀에서는 알아서 인코딩 문제 없이 잘 읽어준다. 넘버스에서는 안됨
- 파이썬에서 기본 인코딩을 utf-8로 정해져있기 때문에 인코딩 양식을 지정해주어야한다
- euc-kr 또는 cp949로 하면 대부분 해결될거다

In [102]:
file = open('Data/weather_20201012.csv')
reader = csv.reader(file)
next(reader)
file.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb3 in position 0: invalid start byte

In [101]:
file = open('Data/weather_20201012.csv',encoding='euc-kr')
reader = csv.reader(file)
next(reader)
file.close()

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

In [103]:
pd.read_csv('Data/weather_20201012.csv',encoding='euc-kr')

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
...           ...  ...      ...      ...      ...
40849  2020-10-07  108     16.0      9.9     22.0
40850  2020-10-08  108     17.2     12.1     23.1
40851  2020-10-09  108     17.2     12.4     23.3
40852  2020-10-10  108     16.9     12.3     21.5
40853  2020-10-11  108     16.9     12.7     20.8

[40854 rows x 5 columns]

### 📎datetime
- 파이썬에서 날짜 쉽게 사용하도록 도와주는 module 이다

- 형식들은 여기 참고하자 https://pynative.com/python-datetime-format-strftime/

In [105]:
from datetime import date,datetime,timedelta       # date datetime timedelta 클래스다 
 
print(date.today())
print(type(date.today()))    # datetime.date 객체이다

# year month day따로 추출 가능하다
print(date.today().year,date.today().month,date.today().day)

print(datetime.today())
print(type(datetime.today())) # datetime.datetime 객체이다

# 추가적으로 시분초 까지 나타낼수 있다
print(datetime.today().year,datetime.today().month,datetime.today().day)
print(datetime.today().hour,datetime.today().minute,datetime.today().second)

2022-12-16
<class 'datetime.date'>
2022 12 16
2022-12-16 19:09:40.566585
<class 'datetime.datetime'>
2022 12 16
19 9 40

In [106]:
# stftime
# string formatting
# datetime 객체에서 내가 원하는 str추출
today = datetime.today() 
print(today.strftime('%Y-%m-%d'))     # 이형식으로 string으로 뽑아 내겠다는거다
print(today.strftime('%Y년 %m월 %d일')) # 이럴때 유용하겠지

# strptime
# string parse time
# string을 datetime 객체로 pase

datetime_kor ='2021년 7월 25일 22시 13분 20초' 
print(datetime.strptime(datetime_kor,'%Y년 %m월 %d일 %H시 %M분 %S초')) # datetime.datetime의 형식으로 출력된다

2022-12-16
2022년 12월 16일
2021-07-25 22:13:20

#### ⭐️시간 계산하기
- datetime 에서 datetime 계산도 가능하다

- 기본적으로는 timedelta 객체를 사용   : H M S 가 최대
- 추가적으로 relativedelta 객체를 사용 : Y M D H M S 다 가능
- 중요한건 둘다 계산을 해도 타입은 그대로 datetime.datetime 혹은 datetime.date로 유지된다

In [ ]:
from datetime import date,datetime,timedelta
from dateutil.relativedelta import relativedelta
datetime_kor ='2021년 7월 25일 22시 13분 20초' 
datetime_lon ='2021년 7월 23일 3시 10분 3초' 
datetime_kor  = datetime.strptime(datetime_kor,'%Y년 %m월 %d일 %H시 %M분 %S초')
datetime_lon = datetime.strptime(datetime_lon,'%Y년 %m월 %d일 %H시 %M분 %S초')
diff = datetime_kor - datetime_lon
diff # time detal 객체가 된다

type(diff)
str(diff) # => 내가 원하는 걸로 돌려주네

In [104]:
from datetime import date,datetime,timedelta
from dateutil.relativedelta import relativedelta

days = datetime.today()

# time delta 는 H M S 까지 밖에 안됨
print(days+timedelta(hours=2))       # s안붙이면 안된다
print(type(days+timedelta(hours=2)))

# relativedelta
print(type(relativedelta(days=2)))
print(days+relativedelta(minutes=2))
print(days+relativedelta(days=2))
print(type(days+relativedelta(days=2))) # 타입은 그대로

2022-12-16 21:09:06.267831
<class 'datetime.datetime'>
<class 'dateutil.relativedelta.relativedelta'>
2022-12-16 19:11:06.267831
2022-12-18 19:09:06.267831
<class 'datetime.datetime'>